.formHome {
    padding: 20px;
}

.formHome .label {
    color: rgb(100, 100, 100);
    font-weight: bolder;
}

.formHome .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.formHome .title .text {
    color: black;
    font-weight: bolder;
    font-size: 35px;
}

.formHome .title .butn .E {
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    transition: ease 0.5s;
}

.formHome .title .butn .E:hover {
    color: white;
    background-color: green;
}

.formHome .title .butn .B {
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
    color: white;
    background-color: rgb(4, 56, 228);
    transition: ease 0.5s;
}

.formHome .title .butn .B:hover {
    color: rgb(4, 56, 228);
    background-color: white;
}

.formHome .tour {
    background-color: rgba(238, 238, 238, 0.507);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formHome .tour .inp {
    position: relative;
    width: 400px;
    height: 60px;
}

.formHome .tour .inp .fa-magnifying-glass {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 99;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.formHome .tour .inp .fa-sliders {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 99;
    font-size: 20px;
    color: rgb(148, 148, 148);
}

.formHome .tour .inp input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    padding: 0 40px;
}

.formHome .tour .inp input::-webkit-input-placeholder {
    font-weight: bold;
    color: rgb(172, 172, 172);
}

.formHome .tour .inp input::-webkit-search-cancel-button,
.formHome .tour .inp input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.formHome .tour .sels .sel {
    position: relative;
    width: 100px;
    height: 30px;
}

.formHome .tour .sels .sel i {
    position: absolute;
    z-index: 99;
    top: 9px;
    left: 6px;
}

.formHome .tour .sels .sel select {
    position: absolute;
    padding: 5px 10px 5px 20px;
    background-color: rgba(238, 238, 238, 0.507);
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    font-weight: bolder;
}