.formHome {
    padding: 20px;
}

.formHome .label {
    color: rgb(100, 100, 100);
    font-weight: bolder;
}

.formHome .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.formHome .title .text {
    color: black;
    font-weight: bolder;
    font-size: 35px;
}

.formHome .title .butn .E {
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    transition: ease 0.5s;
}

.formHome .title .butn .E:hover {
    color: white;
    background-color: green;
}

.formHome .title .butn .B {
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
    color: white;
    background-color: rgb(4, 56, 228);
    transition: ease 0.5s;
}

.formHome .title .butn .B:hover {
    color: rgb(4, 56, 228);
    background-color: white;
}

.formHome .tour {
    background-color: rgba(238, 238, 238, 0.507);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formHome .tour .inp {
    position: relative;
}

.formHome .tour .inp .fa-magnifying-glass {
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 99;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.formHome .tour .inp input {
    border-radius: 20px;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    padding: 10px 10px 10px 40px;
}

.formHome .tour .inp input::-webkit-input-placeholder {
    font-weight: bold;
    color: rgb(172, 172, 172);
}

.formHome .tour .inp input::-webkit-search-cancel-button {
    font-size: larger;
    cursor: pointer;
}

.formHome .tour .inp input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.formHome .tour .sels .sel {
    position: relative;
    margin: 10px 10px 10px 20px;
}


.formHome .tour .sels i {
    position: absolute;
    top: 9px;
    left: 6px;
}

.formHome .tour .sels .sel select {
    padding: 5px 10px 5px 30px;
    background-color: rgba(238, 238, 238, 0.507);
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    font-weight: bolder;
}

.formHome .nave {
    border-bottom: 1px solid rgb(177, 177, 177);
    padding-bottom: 10px;
}

.formHome .nave .customers {
    font-weight: bolder;
    padding-bottom: 10px;
    color: blue;
    border-bottom: 3px solid blue;
}

.formHome .nave .nb {
    border-radius: 5px;
    color: white;
    background-color: orange;
    margin-left: 10px;
    padding: 0 6px;
}

.form table {
    width: 100%;
}

.form table thead tr{
    background-color: rgba(238, 238, 238, 0.404);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 3px 3px 6px;
}

.form table thead tr th{
    padding: 10px 0;
    color: rgb(126, 126, 126);
}

.form table thead tr th i {
    font-size: small;
}